<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/materialize.css">
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script src="../static/materialize.js"></script>
    <title>GRNN Web App</title>
</head>

<body>
    <nav>
      <div class="nav-wrapper grey darken-2">
        <a href="/" class="brand-logo" style="margin-left:1rem">GRNN Train & Test</a>
        <ul id="nav-mobile" class="right">
            <li><a href="/"><span><i class="material-icons">home</i></span></a></li>
        </ul>
      </div>
    </nav>
    <div id="root" class="container"></div>
    <script type="text/babel" src="../static/app/Configure.js"></script>
</body>

</html>