<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- React and ReactDOM -->
  <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
  <!-- Babel standalone -->
  <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
  <!-- Materialize CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>Help | GRNN Web App</title>
</head>

<body>
  <nav>
    <div class="nav-wrapper grey darken-2">
      <a href="/" class="brand-logo" style="margin-left:1rem">GRNN Train & Test</a>
      <ul id="nav-mobile" class="right">
        <li><a href="/"><span><i class="material-icons">home</i></span></a></li>
        <li><a href="/help"><span><i class="material-icons">help</i></span></a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col s12 m12">
        <div class="card-panel grey lighten-2">
          <h4>How to use?</h4>
          <span class="black-text">
            <ol>
              <li>
                Select a dataset with .csv extension and submit.
              </li>
              <li>
                Check your dataset in the new page. And continue if everything is correct.
              </li>
              <li>
                Tweak the model parameters and continue to train model. Wait for the results. It can take a while
                depending on the size of your dataset.
              </li>
            </ol>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m12">
          <div class="card-panel teal">
            <span class="white-text">
              This app is developed by Cem KIRAY. Contact via:
              <br>
              <a href="https://github.com/jamcry"><img src="https://img.icons8.com/windows/32/000000/github.png"></a>
              <a href="https://linkedin.com/in/cem-kiray"><img
                  src="https://img.icons8.com/ios-glyphs/30/000000/linkedin.png"></a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>